.square {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;

}

.board {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.victory-text {
    display: none;
}

.completed {
    display: block;
}

#difficulty {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: block;
}

#rebuild {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: block;
}

input {
    border: thin solid grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*Left Border*/

#t00, #t10, #t20,#t30, #t40, #t50, #t60, #t70, #t80,
#t03, #t13, #t23, #t33, #t43, #t53, #t63, #t73, #t83,
#t06, #t16, #t26, #t36, #t46, #t56, #t66, #t76, #t86
{
    border-left: medium solid black;
}

/*Right Border*/

#t08, #t18, #t28, #t38, #t48, #t58, #t68, #t78, #t88
/*#t02, #t12, #t22, #t32, #t42, #t52, #t62, #t72, #t82,
#t05, #t15, #t25, #t35, #t45, #t55, #t65, #t75, #t85*/
{
    border-right: medium solid black;
}

/*Top Border*/

#t00, #t01, #t02, #t03, #t04, #t05, #t06, #t07, #t08,
#t30, #t31, #t32, #t33, #t34, #t35, #t36, #t37, #t38,
#t60, #t61, #t62, #t63, #t64, #t65, #t66, #t67, #t68
{
    border-top: medium solid black;
}

/*Bottom Border*/

#t80, #t81, #t82, #t83, #t84, #t85, #t86, #t87, #t88 {
    border-bottom: medium solid black;
}